.carousel {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_block {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    margin: 10px;
}
.img_block img {
    height: 100%;
    width: 100%;
}